<?xml version='1.0' encoding='utf-8'?>
<widget id="at.spracheingabe.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Spracheingabe</name>
    <description>Magomed Voice</description>
    <author email="a@a.a" href="https://wifi.at">
        Gabriel Geyrhofer &amp; Julian Gabriel
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
