<?xml version='1.0' encoding='utf-8'?>
<widget id="at.spracheingabe.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Spracheingabe</name>
    <description>Synthetische Spracheingabe</description>
    <author email="a@a.a" href="https://wavebeef.duckdns.org">
        Gabriel Geyrhofer und Julian Gabriel
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/drawable/splash.png" />
        <icon src="res/drawable/icon.png" />
    </platform>
</widget>
